extends layout

block style
  link(rel="stylesheet", href="/css/profile.css")

block content
  body
    .container
      .profile
        img(src="/profile.png", alt="프로필 이미지")
        .info
          .info_id
            p.username ID : #{user.username}
            a(href="/auth/logout" onclick='logout()') 로그아웃
          p 학교 웹메일 : #{user.jnu_mail}
          //- // 로그아웃 버튼
      p.title 예약 현황
      each reservation in reservations
        form.reservation(action=`/delete/reservation/${reservation.id}` method='post')
          .top
            div
              p 날짜 : #{new Date(reservation.begin_time).toLocaleString('ko-KR', {month: '2-digit', day: '2-digit'})}
              p 시간 : #{new Date(reservation.begin_time).toLocaleString('ko-KR', {hour: '2-digit', minute: '2-digit'})}
              p 장소 : #{reservation.Place.name}
            if(user.id == reservation.user_id)
              .button
                button.delete(type='submit')
                  img.delete_img(src='/bin.png')
  script.
    function logout() {
      alert('로그아웃 되었습니다!')
    }