extends layout

block style
    link(rel="stylesheet", href="/css/profile.css")

block content
    body
        .container
            .profile
                img(src="profile.png", alt="프로필 이미지")
                .info
                    p.username #{user.username}
                    p 학교 웹메일 : #{user.jnu_mail}
            p.title 예약 현황
                each recruit in recruits
                    .reservation
                        p 날짜 : #{new Date(recruit.createdAt).toLocaleString('ko-KR', {month: '2-digit', day: '2-digit'})}
                        p 시간 : #{new Date(recruit.createdAt).toLocaleString('ko-KR', {hour: '2-digit', minute: '2-digit'})}
                        p 장소 : #{recruit.Place.name}    


