extends layout

block style
    link(rel='stylesheet' href='/css/recruit.css')
block content
    body
        .user_logo
            img(src='/profile.png' alt='manual')
        .recruit
            nav
                ul
                    li
                        a(href=`/recruit`) 전체
                    each place in places
                        li
                            a(href=`/recruit/${place.name}`) #{place.name}
            main
                h1.title 모집 게시판
                .search
                    input(type='text' placeholder='게시판의 글을 검색해 보아요')
                    button(type='submit' onclick='filterPosts()') 검색
                div
                    each post in posts.reverse()
                        section(data-title=post.title data-text=post.text data-place=post.Place.name data-date=new Date(post.createdAt).toLocaleString('ko-KR', {month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit'}) data-user=post.user_id)
                            a(href=`/recruit/post/${post.id}`)
                                h2 #{post.title}
                                p #{post.text}
                                .subContents
                                    p #{new Date(post.createdAt).toLocaleString('ko-KR', {month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit'})} | #{post.Place.name} | #{post.user_id}
                                    p
                                        a(href='#') 댓글(0)
                .write_btn
                    button 글쓰기
        script(src='/scripts/recruit.js')
