extends layout

block style
    link(rel='stylesheet' href='/css/recruit.css')
block content
    body
        .user_logo
            img(src='/profile.png' alt='profile', onclick=`location.href =\`/profile/${user.id}\``)
        .recruit
            nav
                ul
                    li
                        a(href=`/recruit`) 전체
                    each place in places
                        li
                            a(href=`/recruit/${place.name}`) #{place.name}
            main
                h1.title 모집 게시판
                .search
                    input(type='text' placeholder='게시판의 글을 검색해 보아요')
                    button 검색
                div
                    each post in posts.reverse()
                        section(data-title=post.title data-text=post.text data-place=post.Place.name data-date=new Date(post.createdAt).toLocaleString('ko-KR', {month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit'}) data-user=post.user_id)
                            form(action=`/recruit/delete/post/${post.id}` method='post')
                                a(href=`/recruit/post/${post.id}`)
                                    .top
                                        h2 #{post.title}
                                        if (user.id == post.user_id)
                                            .button
                                                a(href=`/recruit/edit/post/${post.id}`)
                                                    .update
                                                        img.update_img(src='/pen.png')
                                                button.delete(type='submit')
                                                    img.delete_img(src='/bin.png')
                                    p #{post.text}
                                    .subContents
                                        p #{new Date(post.createdAt).toLocaleString('ko-KR', {month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit'})} | #{post.Place.name} | #{post.User.username}
                                        each comment in comments
                                            if ( comment.postId == post.id)
                                                p= '댓글(' + comment.count + ')'
                .write_btn
                    button
                        a(href='/recruit/write') 글쓰기
        script.
            const $profile = document.querySelector(".user_logo img");
            const $recruitSearchInput = document.querySelector(".search input");
            const $recruitSearchBtn = document.querySelector(".search button");
            // const $recruitSections = document.querySelectorAll("section");
            // const $recruitWriteBtn = document.querySelector(".write_btn button");

            $recruitSearchBtn.addEventListener("click", function (e) {
                const loc = location.href.indexOf('?') === -1 ? location.href : location.href.slice(0,location.href.indexOf('?'))
                console.log($recruitSearchInput.value); // 검색어를 출력한다.

                location.href = loc + `?q=${$recruitSearchInput.value}`;
            });