extends layout

block style
    link(rel='stylesheet' href='/css/main.css')
    link(rel='stylesheet' href='/css/reservation.css')
block content
    body
        .user_logo
            img(src='/profile.png' alt='manual', onclick="location.href ='/profile'")
        main
            // 예약되있는 시간 불러오기
            - const reservedTime = reserved_time;
            - const begin = [];
            - const end = [];
            each time in reservedTime
                // 장소와 시간 비교해서 push
                -if (place == time.Place.name && time.begin_time.getDate() == date.slice(-2))
                    - begin.push(time.begin_time.getHours())
                    - end.push(time.end_time.getHours())

            .reser_text
                p #{place}
            .calender_text
                p #{date.slice(0,2) + '월 ' + date.slice(-2) + '일'}
            .btns
                -for (let i = 9; i <= 11; i++)
                    .login_btn
                        button #{('0' + i).slice(-2) + ':00 ~ ' + (i + 1) + ':00' }
            .btns
                -for (let i = 13; i <= 15; i++)
                    .login_btn
                        button #{('0' + i).slice(-2) + ':00 ~ ' + (i + 1) + ':00' }
            .btns
                -for (let i = 16; i <= 17; i++)
                    .login_btn
                        button #{('0' + i).slice(-2) + ':00 ~ ' + (i + 1) + ':00' }
            .btns
                .submit_btn
                    button
                        a#reservation_submit(href=`/apply/${place}/${date}/`) 예약하기
        script(src='/scripts/reservation.js')
        script.
            // 변수에 저장
            const begin = "#{begin}".split(',');
            const end = "#{end}".split(',')

            const $btns = document.querySelectorAll('.login_btn button')

            // 예약된 시간과 버튼의 시간들을 비교해서 예약된 시간들은 선택 못하게
            $btns.forEach(e => {
                for(let i of begin){
                    if(parseInt(e.innerText.slice(0,2)) === parseInt(i)){
                        e.disabled = true;
                        e.style.backgroundColor='red';
                    }
                }
                for(let i of end){
                    if (parseInt(e.innerText.slice(8, 10)) === parseInt(i)) {
                        e.disabled = true;
                        e.style.backgroundColor = 'red';
                    }
                }
            })